#include <windows.h>
#include "dialog.h"

IDD_JOIN_DIALOG DIALOG 100, 100, 270, 105
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION ""
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT "", IDC_SERVER_LABEL, 10, 8, 45, 10
    EDITTEXT IDC_SERVER, 55, 6, 205, 12, ES_AUTOHSCROLL

    LTEXT "", IDC_ROOM_LABEL, 10, 28, 45, 10
    EDITTEXT IDC_ROOM, 55, 26, 205, 12, ES_AUTOHSCROLL

    LTEXT "", IDC_NICKNAME_LABEL, 10, 48, 45, 10
    EDITTEXT IDC_NICKNAME, 55, 46, 205, 12, ES_AUTOHSCROLL

    DEFPUSHBUTTON "", IDOK, 100, 72, 50, 14
    PUSHBUTTON "", IDCANCEL, 160, 72, 50, 14
END
